.release-description-container {
  .notes {
    text-align: left;
  }

  table {
    margin-top: 12px;
    margin-bottom: 12px;
    td, th {
      text-align: left;
    }

  }

  iframe {
    background-color: lightgray;
  }
}